<header class="clearfix">
	<div class="wrapper wrapper--header clearfix">
		<div class="clearfix">
			<div class="header-top">
				<div><a class="header-top__login" href="#">Log In</a></div>
				<div><a class="header-top__sign-up" href="#">Sign up</a></div>
			</div>
			<h1 class="header-bottom__title">URLAUBSGLÜCK</h1>
		</div>
		<div class="header-bottom">
			<h2 class="header-bottom__tagline wow fadeIn">Share your holiday  dreams</h2>
			<p class="header-bottom__text">And find the perfect partner to fullfill it</p>
			<a  class="button wow fadeInUp" href="#">Find your holiday partner</a>
		</div>
	</div>
</header>