

/* WIDTH 480px */

@media (min-width: 480px) {

 .carausel-wrapper {
 	text-align: left;
 	margin-left: 18px;
 	width: 81%;
 }

.black-bg {
	background-color: rgba(0, 0, 0, 0.2);
	padding-top: 98px;
	padding-bottom: 95px;
}

.carausel__img {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}



}