
/* GLOBAL STYLES */

.sprite-pingbuller, .sprite-logo5, .sprite-logo6, .sprite-logo2, .sprite-logo1, 
.sprite-logo3, .sprite-logo4, .sprite-leftnav, .sprite-rightnav, .sprite-wrench
{ display: inline-block; background: url(../img/sprite.png) no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.sprite-pingbuller { background-position: -2px -0px; width: 152px; height: 39px; }
.sprite-logo5 { background-position: -2px -41px; width: 103px; height: 21px; }
.sprite-logo6 { background-position: -2px -64px; width: 78px; height: 61px; }
.sprite-logo2 { background-position: -2px -127px; width: 72px; height: 63px; }
.sprite-logo1 { background-position: -82px -64px; width: 69px; height: 63px; }
.sprite-logo3 { background-position: -76px -130px; width: 65px; height: 63px; }
.sprite-logo4 { background-position: -2px -193px; width: 50px; height: 65px; }
.sprite-leftnav { background-position: -54px -197px; width: 30px; height: 42px; }
.sprite-rightnav { background-position: -86px -197px; width: 30px; height: 42px; }
.sprite-wrench { background-position: -118px -197px; width: 30px; height: 31px; }


@font-face {
    font-family: 'league_gothic';
    src: url(../fonts/leaguegothic-regular.eot);
    src: url(../fonts/leaguegothic-regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/leaguegothic-regular.woff2) format('woff2'),
         url(../fonts/leaguegothic-regular.woff) format('woff'),
         url(../fonts/leaguegothic-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url(../fonts/opensans-light.eot);
    src: url(../fonts/opensans-light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/opensans-light.woff2) format('woff2'),
         url(../fonts/opensans-light.woff) format('woff'),
         url(../fonts/opensans-light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold';
    src: url(../fonts/opensans-extrabold.eot);
    src: url(../fonts/opensans-extrabold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/opensans-extrabold.woff2) format('woff2'),
         url(../fonts/opensans-extrabold.woff) format('woff'),
         url(../fonts/opensans-extrabold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

html
{  z-index: -16; 
	position: relative; 
}

body
{ 
	position: relative; 
	z-index: -15; 
}


.wrapper {
	min-width: 320px;
	margin: 0 auto;
	position: relative;
	z-index: -10;
}
/* HEADER */

.header {
	font-family: "league_gothic";
	color: #fff;
	text-align: center;
	background: url(../img/bg.jpg) no-repeat top center;
	padding-bottom: 65px;
}

.sprite-pingbuller	{
	margin-top: 70px;
}

.header__menu {
	position: relative;
	width: 244px;
	margin: 18px auto;
	border: 1px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 2;
}

.header__menu li {
	border-bottom: 1px solid #35273d;
	border-top : 1px solid #695272;
}

.header__menu a {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
    font-family: "league_gothic";
    display: block;
	line-height: 38px;
	border-bottom: 2px solid transparent;
}

/*.header__menu li:last-child a {
	border-bottom: none;
}*/

.header__menu li {
	position: relative;
	display: block
}

.absolute-menu {
	width: 244px;
	position: absolute;
	top: 100%;
	left: -1px;
	display: none;
	border: 1px solid #000;
	border-top: 1px solid #35273d;
}


.header__menu:hover{
	background-color: rgba(54, 41, 62, 0.8);
	border: 1px solid #000;
}

.header__menu:hover ul {
	overflow: hidden;
	background-color: rgba(54, 41, 62, 0.8);
	display: block;
	top: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu__home {
	
}

.menu__home a {
    border-top: none;
    line-height: 51px;
    border-bottom: 2px solid transparent;
}

.menu__home:after {
	content: "";
	position: absolute;
	top: 41px;
	left: 98px;
	border: 1px solid #edbfff;
	width: 45px;
}

.header__menu a:hover {
   border-bottom: 2px solid #edbfff;
   background-color: rgba(34, 26, 39, 0.8);

}
.header__menu .menu__home a:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}



.carousel {
	margin: 110px auto 80px auto;
	text-align: left;
	padding-left: 66px;
	position: relative;
	z-index: 1;
	width: 254px;
}

.carousel__title {
	text-shadow: 1px 1px 3px #444444;
	font-size: 36px;
	margin-bottom: 2px;
}

.carousel__title:before {
	content: "";
	position: absolute;
	top: 9px;
	left: -3px;
	width: 30px; 
	height: 42px; 
	background: url(../img/sprite.png) no-repeat;
	background-position: -54px -197px; 

}

.carousel__title:after {
	content: "";
	position: absolute;
	width: 30px; 
	height: 42px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -86px -197px;
	right: -3px;
	top: 9px; 
}

.carousel__text {
	text-shadow: 1px 1px 3px #444444;
 	font-size: 18px;
 	text-transform: uppercase;
 	color: #edbfff;
}

.carousel__selector { 
	position: relative;
	z-index: 2;
}
.selector {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(25, 0, 3, 0.5);
	margin-right: 4px;
}

.selector a {
	text-decoration: none;
	border-radius: 50%;
	width: 10px;
	display: block;
	margin-top: 3px;
	height: 10px;
	margin-left: 3px;
	transition: all 0.5s ease-in;
}

.selector a:hover {
	background-color: rgba(255, 255, 255, 0.8);\
	transition: all 0.5s ease-in;
}


/* ABOUT US */

.about-us { 
	height: 529px;
	color: #fff;
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.11);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.11);
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
	padding-top: 70px;
	padding-left: 82px;
	letter-spacing: -0.4px;
	padding-right: 9px;
	position: relative;
}

.about-us__block { 
	margin-bottom: 24px;
}

.block__title {
	font-size: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	font-family: 'league_gothic';
	margin-bottom: 2px;
	position: relative;
}

.block__title:before {
	content: "";
	position: absolute;
	background: url(../img/sprite.png) no-repeat;
	background-position: -118px -197px; 
	width: 30px; 
	height: 31px;
	top: 0;
	left: -52px;
}

.block__text {
	font-family: 'open_sanslight';
	text-shadow: 1px 1px 1px #000;
	line-height: 24px;
	padding-right: 25px;
	margin-bottom: 16px;
	height: 71px;
	overflow: hidden;
}

.block__link  {
	font-family: 'league_gothic';
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	margin-right: 3px;
	text-decoration: none;
	color: #fff;
}

.block__link a {
	text-decoration: none;
	color: #fff;	
}
.block__link:hover {
	text-shadow: 1px 1px 8px #fff;
}

/* BLOGS */

.blogs {
	position: relative;
	z-index: -1;
	background-color: #f9f9f9;
	color: #454545;
	padding-top: 70px;
	padding-left: 43px;
	padding-bottom: 89px;
	border-bottom: 1px solid #e6e6e6;
}

.blogs__person {
	position: relative;
	background-color: #fff;
	margin-right: 18px;
	border-bottom: 1px solid #eaeaea;
	padding: 24px 7px 27px 36px;
}


.person__img {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	position: absolute;
	top: 18px;
	left: -22px;
}

.person__title {
	font-family: "league_gothic";
	font-size: 24px;
	text-transform: uppercase;
}

.person__title--tagline {
	color: #edbfff;
	padding-bottom: 4px;
}

.person__text {
	font-family: 'open_sanslight';
	font-size: 16px;
	line-height: 24px;
	padding-left: 3px;
}

.carousel__selector--blogs {
	margin-top: 23px;
	text-align: center;
}

.carousel__selector--blogs .selector {
	border: 1px solid #dadada;
	background-color: #fff;
	
}
.carousel__selector--blogs .selector a {
	background-color: transparent;
	
}
.carousel__selector--blogs .selector a:hover {
	background: rgba(106,106,106,1);
	background: -moz-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,106,106,1)), color-stop(100%, rgba(69,69,69,1)));
	background: -webkit-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
	background: -o-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
	background: linear-gradient(to bottom, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#454545', GradientType=0 );
}


.blog__updates { 
	margin-top: 45px; 
	margin-left: 43px;
}

.updates__title {
	font-family: "league_gothic";
	font-size: 30px;
	text-transform: uppercase;
	margin-left: -66px;
	margin-bottom: -3px;
}

.updates__post {
	position: relative;
	margin-top: 24px;
}

.person__img--updates {
	top: -3px;
	left: -65px;
}

.post__title {
	font-size: 16px;
	font-family: 'open_sansextrabold';
}

.post_text {
	font-size: 16px;
	font-family: 'open_sanslight';
	margin-top: 8px;
}

.block__link--updates {
	margin-top: 29px;
	margin-right: 9px;
}

.block__link--updates a {
	color: #454545;
	transition: all 0.5s ease-in;
}

.block__link--updates a:hover {
	color: #797979;
	ransition: all 0.5s ease-in;
}

/* LOGOS */

.logos {
	overflow: hidden;
	position: relative;
	background-color: #f9f9f9;
	border-top: 1px solid #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.11);
	padding-bottom: 66px;
	border-bottom: 1px solid #fff;
}
	
.logos div{
	margin-top: 55px;
	margin-left: 60px;
	float: left;
}

.logos .sprite-logo5 {
	margin-left: 38px;
}

/* FOOTER  */

footer {
	z-index: -1;
	position: relative;
	text-align: center;
	color: #fff;
	background: url(../img/bg-footer.jpg) no-repeat center top;
}

.footer__text {
	padding-top: 41px;
	padding-bottom: 147px;
	font-family:'open_sanslight';
	font-size: 12px;
	text-shadow: 1px 1px 3px #000;
}

.footer__text span {
	font-family: 'open_sansextrabold';
}


