
/* GLOBAL STYLES */

.sprite-pingbuller, .sprite-logo5, .sprite-logo6, .sprite-logo2, .sprite-logo1, 
.sprite-logo3, .sprite-logo4, .sprite-leftnav, .sprite-rightnav, .sprite-wrench
{ display: inline-block; background: url(../img/sprite.png) no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.sprite-pingbuller { background-position: -2px -0px; width: 152px; height: 39px; }
.sprite-logo5 { background-position: -2px -41px; width: 103px; height: 21px; }
.sprite-logo6 { background-position: -2px -64px; width: 78px; height: 61px; }
.sprite-logo2 { background-position: -2px -127px; width: 72px; height: 64px; }
.sprite-logo1 { background-position: -82px -64px; width: 69px; height: 64px; }
.sprite-logo3 { background-position: -76px -130px; width: 65px; height: 65px; }
.sprite-logo4 { background-position: -2px -193px; width: 50px; height: 63px; }
.sprite-leftnav { background-position: -54px -197px; width: 30px; height: 42px; }
.sprite-rightnav { background-position: -86px -197px; width: 30px; height: 42px; }
.sprite-wrench { background-position: -118px -197px; width: 30px; height: 31px; }


@font-face {
    font-family: 'league_gothic';
    src: url(../fonts/leaguegothic-regular.eot);
    src: url(../fonts/leaguegothic-regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/leaguegothic-regular.woff2) format('woff2'),
         url(../fonts/leaguegothic-regular.woff) format('woff'),
         url(../fonts/leaguegothic-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url(../fonts/opensans-light.eot);
    src: url(../fonts/opensans-light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/opensans-light.woff2) format('woff2'),
         url(../fonts/opensans-light.woff) format('woff'),
         url(../fonts/opensans-light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold';
    src: url(../fonts/opensans-extrabold.eot);
    src: url(../fonts/opensans-extrabold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/opensans-extrabold.woff2) format('woff2'),
         url(../fonts/opensans-extrabold.woff) format('woff'),
         url(../fonts/opensans-extrabold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
}

/* HEADER */

header {
	font-family: "league_gothic";
	color: #fff;
	text-align: center;
	height: 516px;
	background: url(../img/bg.jpg) no-repeat top center;
}

.sprite-pingbuller	{
	margin-top: 70px;
}

.logo span {

}

.header__menu {
	position: relative;
	width: 244px;
	margin: 18px auto;
	border-radius: 10px;
	overflow: hidden;
}

.header__menu li {
	border-bottom: 1px solid #35273d;
	border-top : 1px solid #695272;
}

.header__menu a {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
   font-family: "league_gothic";
   display: block;
	line-height: 38px;
	border-bottom: 2px solid transparent;
}

.header__menu li:last-child a {
	border-bottom: none;
}

.header__menu li {
	display: none
}

.header__menu:hover{
	background-color: rgba(54, 41, 62, 0.8);
	border: 1px solid #000;
}

.header__menu:hover li {
	display: block;
}

.menu__home a {
    border-top: none;
    line-height: 51px;
    border-bottom: 2px solid transparent;
}

.menu__home:after {
	content: "";
	position: absolute;
	top: 41px;
	left: 98px;
	border: 1px solid #edbfff;
	width: 45px;
}

.header__menu a:hover {
	border-bottom: 2px solid #edbfff;
   background-color: rgba(34, 26, 39, 0.8);
}


.carousel__title {

}