
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}


body {
	text-align: center;
	color: #fff;
	font-family: Tahoma;
	font-size: 14px;
	background: url(../img/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}


/* HEADER */

.header {
	background: url(../img/header_bg.jpg);
	position: relative;
}

.header div, 
.header ul, 
.header li {
	float: right;
}

.header .header__wrapper {
	margin: 0 auto;
	width: 65%;
	float: none;
}

.header ul {
	padding-right: 9px;
}

.header li a {
	line-height: 37px;
	text-decoration: none;
	color: #60b5ed;
	display: block;
	padding: 0px 13px; 
}

.header li a:hover {
	background-color: #4eabda;
	color: #fff;
}

.header__user {
	margin-top: 3px;
	position: relative;
	line-height: 30px;
	color: #fff;
	padding: 0px 16px 0px 49px;
	border-left: 1px solid #56a2dc;
}

.header__user:after {
	content: '';
	background: url(../img/flag.png);
	height: 25px;
	width: 25px; 
	position: absolute;
	top: 3px;
	left: 17px;
}



.header__login a,
.header__login {
	color: #fff;
}

.header__login {
	padding: 0px 12px 0px 10px;
	line-height: 35px;
	background: rgba(81,176,220,1);
	background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,122,196,1)));
	background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
	background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e7ac4', GradientType=0 );
	border: 1px solid #4299d2;
	border-top: none;
}



/* LOGIN */

.login {
	margin: 213px auto 0px auto;
	width: 560px;
}


.login__title {
	background-color: rgba(15, 15, 15, 0.6);
	font-size: 25px;
	padding-top: 17px;
	letter-spacing: -0.5px;
	padding-bottom: 19px;;
}

.login__content {
	background-color: rgba(15, 15, 15, 0.6);
	margin-top: 5px;
}