

/*
* Custom
*/
@import "partials/varmixins";


/* FANCYBOX STYLE */

.fancybox {
	text-decoration: none;
}

.fancybox-modal {
	position: fixed;
	z-index: 3;
	width: 842px;
	height: 405px;
	top: 50%;
	left: 50%;
	margin: -202px 0 0 -421px;
	border: 10px solid #fff;
	border-radius: 5px;
	-webkit-box-shadow: 10px 6px 49px 1px rgba(0,0,0,1);
	-moz-box-shadow: 10px 6px 49px 1px rgba(0,0,0,1);
	box-shadow: 10px 6px 49px 1px rgba(0,0,0,1);
}

.fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	
}


.fancybox-modal img {
	margin: 0 auto; 
}


/* Main STYLE */

body {
	font: 100% "Ubuntu", sans-serif;
	background-color: #f7f7f7;
}

.header {
	width: 1160px;
	margin: 0 auto;
}

.header-top {
	padding-top: 10px;
}

.logo__link {
	
}

.logo__wrap {
	float: left;
	padding: 27px 0 0 7px;


		.logo-animation-wrap {
			position: relative;
			overflow: hidden;
			float: left;
			margin-right: 10px;
			width:36px;
			height:36px;
		}
		
		.logo-animation {
			position: absolute;
			top: 2px;
			right: -15px;

		}
}

@keyframes logo {

	0% {
		-ms-transform: rotate(0deg); /* IE 9 */
   	    -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
	}


		100% {
		-ms-transform: rotate(360deg); /* IE 9 */
   	    -webkit-transform: rotate(360deg); /* Safari */
        transform: rotate(360deg);
	}
}


 .logo-animation {
	animation-name: logo;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 3s;
	animation-iteration-count: infinite;
}




.text-wrap {
	float: left;
}

.logo__title {
	color: $grey;
	display: block;
	font-weight: 900;
	font-size: 32px;
	margin-top: -8px;
	
}

.logo__text {
	display: block;
	color: $grey;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-top: -3px;
	font-weight: 100;
	margin-left: 3px;
}


.header__social {
	float: right;
    padding-top: 37px;
	margin-right: -5px;
}

.social__item {
	margin-left: 10px;
    float: left;
}

.social__link {
	height: 20px;
    width: 22px;
    display: block;
    color: #ccc;
    transition: all 0.25s;
}

.social__link:hover {
	color: $blue;
}

/* HEADER TOP MENU */

.header-nav-wrapper {
	margin-top: 34px;
	background-color: $grey;
}

.top-menu {
	float: left;
}

.top-menu__item {
	float: left;
	border-right: 1px solid #000;

	padding: 0 32px 0 32px;;

}

.active {
	background-color: $blue;
}

.top-menu__link {
	line-height: 56px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.top-menu__link:hover {
	color: $yellow;
}

nav {
	float: left;
	width: 700px;
}

.search {
  float: right;
  padding-right: 10px;
  padding-top: 7px;
  position: relative; }

.search__input {
  background-color: $grey;
  line-height: 38px;
  width: 225px;
  border: 1px solid #181a1d;
  padding-left: 13px;
  outline: none;
  color: #8a8a8a; }

.search__icon {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 23px; }


/*   Carausel */


.jcarauser-wrapper {
	max-width: 1160px;
	margin: 40px auto;
	position: relative;

}

	.tagline {
			position: absolute;
			
			left: 36px;
			z-index: 1;
			top: 233px;
		}


.jcarousel {
    position: relative;
    overflow: hidden;
    margin-bottom: -4px;

	    ul {
		    width: 20000em;
		    position: relative;
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}

		li {
		    float: left;
		    left: 0;
		}

}

.jcarousel-pagination {
	text-align: center;
	position: absolute;
	bottom: 15px;
	z-index: 1;
	opacity: 0.6;
	left: 46%;

		a {
			margin-left: 10px;
			font-family: arial;
			font-size: 10px;
			color: #000;
			width: 10px;
			height: 10px;
			text-decoration: none;
			background-color: #fff;
			border: 3px solid #FFF;
			display: inline-block;

		}

		a.active {
			background-color: #000;
			color: #fff;
		}

}


/* ABOUT US */

.centring-wrapper {
	
	width: 1160px;
	margin: 0 auto;
}

.about-us-wrapper {
	margin-top: 74px;
	margin-left: 125px;
	margin-bottom: 85px;
	
}

.about-us-item {

	float: left;
	margin-right: 150px;
	position: relative;
	width: 245px;
}

.last {
	margin-right: 0px;
}

.about-us__number {
	top: -20px;
	left: -129px;
	position: absolute;
	font-size: 90px;
	color: rgba(42,43,46,0.1);
}


.about-us__title {
	font-weight: 900;
	font-size: 19px;
	margin-top: 10px;
}

.about-us__text {
	font-size: 13px;
	line-height: 20px;
	margin-top: 20px;
	color: #8a8a8a;
}

.about-us__link {
	text-decoration: none;
	margin-top: 16px;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	color: #000;
	transition: all ease-in 0.5s;
}

.about-us__link:hover {
	color: $blue;
	transition: all ease-in 0.5s;
}

.fa-long-arrow-right {
	margin-left: 5px;
	color: $blue;
	transition: all ease-in 0.5s;
}

.about-us__link:hover .fa-long-arrow-right {
	color: #000;
	transition: all ease-in 0.5s;
}


/* ANIMATION ABOUT US */

@keyframes gears {

	0% {
		-ms-transform: translate(0px,0px) rotate(0deg); /* IE 9 */
   	    -webkit-transform: translate(0px,0px) rotate(0deg); /* Safari */
        transform: translate(0px,0px) rotate(0deg);
	}

	50% {
	-ms-transform: translate(100px,0px) rotate(360deg); /* IE 9 */
   	    -webkit-transform: translate(100px,0px) rotate(360deg); /* Safari */
        transform: translate(100px,0px) rotate(360deg);
    
	}

		100% {
		-ms-transform: translate(0px,0px) rotate(0deg); /* IE 9 */
   	    -webkit-transform: translate(0px,0px) rotate(0deg); /* Safari */
        transform: translate(0px,0px) rotate(0deg);
	}
}


.about-us-item:hover .gears {
	animation-name: gears;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
}

@keyframes truck {

	0% {
		-ms-transform: translate(0px,0px) rotateY(0deg) ; /* IE 9 */
   	    -webkit-transform: translate(0px,0px) rotateY(0deg) ; /* Safari */
        transform: translate(0px,0px) rotateY(0deg) ;
	}

	40% {
		-ms-transform: translate(90px,0px) ; /* IE 9 */
   	    -webkit-transform: translate(90px,0px) ; /* Safari */
        transform: translate(90px,0px) ;
	}

	50% {
	-ms-transform: translate(100px,0px) rotateY(180deg); /* IE 9 */
   	    -webkit-transform: translate(100px,0px) rotateY(180deg); /* Safari */
        transform: translate(100px,0px) rotateY(180deg);
    
	}

	90% {
	-ms-transform: translate(10px,0px) rotateY(180deg); /* IE 9 */
   	    -webkit-transform: translate(10px,0px) rotateY(180deg); /* Safari */
        transform: translate(10px,0px) rotateY(180deg);
    
	}
		100% {
		-ms-transform: translate(0px,0px) rotateY(0deg); /* IE 9 */
   	    -webkit-transform: translate(0px,0px) rotateY(0deg);; /* Safari */
        transform: translate(0px,0px) rotateY(0deg);;
	}
}

.about-us-item:hover .truck {
	animation-name: truck;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
}

.settings-wrapper {
	position: relative;
	width: 32px;
	height: 32px;
}

.settings-animate {
	position: absolute;
	left: 11px;
	top: 18px;
	transition: all 0.5s ease-in;
}

.about-us-item:hover .settings-animate {
	transition: all 0.5s ease-in;
	top: 5px;
}

/* SERVICES */

.services {

	color: #fff;
	background-color: $grey;
	padding-bottom: 65px;
	
}

.services__title {
	display: block;
	padding-top: 43px;
	font-size: 25px;
	font-weight: 300;
	padding-bottom: 50px;
}

.services__item {
	animation-delay: 0.2s;
	text-align: center;
	float: left;
	position: relative;
	margin-right: 40px;
	text-decoration: none;
	color: #fff;
	transition: all  0.8s;
}
.services__item:hover {
	color: $yellow;
	transition: all  0.8s;
}


.services__item--last {
	margin-right: 0px;
	text-align: center;
}

.services__item:hover .img-hover {
	transition: all  0.8s;
	background-color: rgba(36,140,236,0.8);
}
.services__item:hover span {
	transition: all  0.8s;
	color: rgba(255,255,255,1.0)
}



.img-hover {
	transition: all  0.8s;
	z-index: 1;
	position: absolute;
	width: 260px;
	height: 260px;

		span {
			position: absolute;
			top: 70px;
			left: 100px;
			transition: all  0.8s;
			color: rgba(255,255,255,0.0);
			font-size: 90px;
			font-weight: 100;
		}
}

.service-item__text {
	margin-top: 28px;
	font-size: 18px;
}



/* NEWS */


.news {
	float: left;
	margin-top: 60px;
	width: 600px;
}

.news__title {
	font-weight: 900;
	font-size: 25px;
	color: #2a2d32;
	margin-bottom: 40px;
}

.news__item {
	margin-top: 30px;

}

.news__img {
	position: relative;
	float: left;

}

.news__month {
	top: 15px;
	left: -18px;
	font-weight: 900;
	text-align: center;
	position: absolute;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background-color: $blue;
	color: #fff;
}

.news__date {
	top: 55px;
	left: -18px;
	font-weight: 900;
	text-align: center;
	position: absolute;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background-color: $yellow;
	color: #000;
}

.news__text {
	height: 155px;
	width: 430px;
	float: left;
	color: $grey-text;
}

.news-text___title {
	color: #2a2d32;
	font-size: 16px;
	font-weight: 900;
	margin-top: 7px;
	margin-left: 35px;
	text-decoration: none;
	transition: all ease-in 0.2s;
}

.news-text___title:hover {
	color: $blue;
	transition: all ease-in 0.2s;
}

.news-text__second-line {
	margin-top: 5px;
		margin-left: 34px;
		font-size: 13px;

		a {
			color: $blue;
			text-decoration: none;

		}
}

.news-text__content {
	margin-top: 25px;
	margin-left: 30px;
	font-size: 13px;
	line-height: 20px;
}

/* BANNERS */

.banners {
	float: left;
	margin-top: 60px;
	width: 560px;
	height: 415px;
	padding-bottom: 70px;
	overflow: hidden;
}

.banners__title {
	font-weight: 900;
	font-size: 25px;
	color: #2a2d32;
	margin-bottom: 40px;
}


/*---------- Accordion ----------*/


.accordion__item {
	cursor: pointer;
}

.accordion__block {
	background-color: #fff;
	margin: 5px 0px;
	border: 1px solid #e8e8e8;
	color: #000;
	line-height: 40px;
}

.accordion__block--active,
.accordion__block:hover {
	border: none;
	background-color: $yellow;
	color: #fff;
	border: 1px solid transparent;
}

.opener {
	float: left;
	height: 40px;
	width: 40px;
	font-size: 20px;
	border-right: 1px solid #e8e8e8;
	text-align: center;
	
	}

.accordion__title {
	float: left;
	width: 495px;
	padding-left: 20px;
	
	height: 40px;
	font-size: 13px;
	text-transform: uppercase;
}

.accordion__content {
	
	margin-left: 37px;
	color: $grey-text;
	font-size: 13px;
	line-height: 20px;
	margin-top: 22px;
	margin-bottom: 40px;
}

.accordion__content--active {
	display: block;
}


/* LOGOS */

.logos {
	background-color: #FFF;
	padding: 85px 0px;

	 img {
	 	margin: 0px 20px;
	 }
}

.logo-wrapper {
	animation-delay: 0.4s;
}



/* FOOTER */

.footer {
	    padding-top: 64px;
	background-color: $grey;
}


.footer-upper {
 	padding-bottom: 67px;
}

.footer__block {
  float: left;
  margin-right: 46px; 
}

.footer__block--last {
	 margin-right: 0px;
}

.footer__links {
  color: #fff;
  font-size: 16px;
  margin-bottom: 37px; 
}

.footer__item {
  cursor: pointer;
  list-style: none;
  width: 255px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #393c40; 
}

.footer__link {
  text-decoration: none;
  font-family: Arial;
  font-size: 13px;
  color: #6a6c70; 
}

.footer__item:hover .footer__link {
  color: #257fd3; 
}

.footer__contacts {
	padding: 20px 0px;
	color: #6a6c70;
 	background-color: #35383c;
}

.contacts__item {
  float: left;
    margin-right: 16px;
    padding-left: 5px;
  position: relative; 
  font-size: 13px;
  line-height: 18px;
}

.fa-map-marker,
.fa-mobile,
.fa-envelope-o {
font-size: 18px;
margin-right: 10px;
}

.copyright {
	font-size: 13px;
	float: right;
}