

/*
* Custom
*/
@import "partials/varmixins";

body {
	font: 100% "Ubuntu", sans-serif;
	background-color: #f7f7f7;
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

.header-top {
	padding-top: 10px;
}

.logo__link {
	
}

.logo__wrap {
	float: left;
	padding: 27px 0 0 7px;


		img {
			float: left;
			margin-right: 10px;
		}
	
}

.text-wrap {
	float: left;
}

.logo__title {
	color: $grey;
	display: block;
	font-weight: 900;
	font-size: 32px;
	margin-top: -8px;
	
}

.logo__text {
	display: block;
	color: $grey;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-top: -3px;
	font-weight: 100;
	margin-left: 3px;
}


.header__social {
	float: right;
    padding-top: 37px;
	margin-right: -5px;
}

.social__item {
	margin-left: 10px;
    float: left;
}

.social__link {
	height: 20px;
    width: 22px;
    display: block;
    color: #ccc;
    transition: all 0.25s;
}

.social__link:hover {
	color: $blue;
}

/* HEADER TOP MENU */

.header-nav-wrapper {
	margin-top: 34px;
	background-color: $grey;
}

.top-menu {
	float: left;
}

.top-menu__item {
	float: left;
	
	padding: 0 32px 0 32px;;

}

.active {
	background-color: $blue;
}

.top-menu__link {
	line-height: 56px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.top-menu__link:hover {
	color: $yellow;
}

nav {
	float: left;
	width: 700px;
}

.search {
  float: right;
  padding-right: 10px;
  padding-top: 7px;
  position: relative; }

.search__input {
  background-color: $grey;
  line-height: 38px;
  width: 225px;
  border: 1px solid #181a1d;
  padding-left: 13px;
  outline: none;
  color: #8a8a8a; }

.search__icon {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 23px; }


/*   Carausel */


.jcarauser-wrapper {
	max-width: 1160px;
	margin: 40px auto;
	position: relative;

}

	.tagline {
			position: absolute;
			
			left: 36px;
			z-index: 1;
			top: 233px;
		}


.jcarousel {
    position: relative;
    overflow: hidden;
    margin-bottom: -4px;

	    ul {
		    width: 20000em;
		    position: relative;
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}

		li {
		    float: left;
		    left: 0;
		}

}

.jcarousel-pagination {
	text-align: center;
	position: absolute;
	bottom: 15px;
	z-index: 1;
	opacity: 0.6;
	left: 46%;

		a {
			margin-left: 10px;
			font-family: arial;
			font-size: 10px;
			color: #000;
			width: 10px;
			height: 10px;
			text-decoration: none;
			background-color: #fff;
			border: 3px solid #FFF;
			display: inline-block;

		}

		a.active {
			background-color: #000;
			color: #fff;
		}

}


/* ABOUT US */

.about-us-wrapper {
	margin-top: 74px;
	margin-left: 125px;
}

.about-us-item {
	float: left;
	margin-right: 150px;
	position: relative;
	width: 245px;
}

.last {
	margin-right: 0px;
}

.about-us__number {
	top: -20px;
	left: -129px;
	position: absolute;
	font-size: 90px;
	color: rgba(42,43,46,0.1);
}


.about-us__title {
	font-weight: 900;
	font-size: 19px;
	margin-top: 10px;
}

.about-us__text {
	font-size: 13px;
	line-height: 20px;
	margin-top: 20px;
	color: #8a8a8a;
}

.about-us__link {
	text-decoration: none;
	margin-top: 16px;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	color: #000;
	transition: all ease-in 0.5s;
}

.about-us__link:hover {
	color: $blue;
	transition: all ease-in 0.5s;
}

.fa-long-arrow-right {
	margin-left: 5px;
	color: $blue;
	transition: all ease-in 0.5s;
}

.about-us__link:hover .fa-long-arrow-right {
	color: #000;
	transition: all ease-in 0.5s;
}

