* {
	margin: 0;
	padding:0;
}

body {
	padding-top: 100px;
}

.timer	{
	font-family: Arial;
	width: 700px;
	border: 9px solid #000;
	border-radius: 60px;
	background-color: #d9d9d9;
	margin: 0 auto;
}

.time {
	font-size: 150px;
	font-weight: bold;
	text-align: center;
}

.miliseconds {
	margin-top: -30px;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
	margin-right: 50px;

}

.button {

}

.start-cont {
	border: 9px solid #000;
	border-radius: 30px;
	width: 201px;
	text-align: center;
	font-size: 47px;
	font-weight: bold;
	line-height: 64px;
	margin-top: 53px;
	cursor: pointer;
	float: left;
	background-color: #33ad4a;
}
.start-cont:hover {
	background-color: #44cb5e;
}


.clear {
	border: 9px solid #000;
	border-radius: 30px;
	width: 201px;
	text-align: center;
	font-size: 47px;
	font-weight: bold;
	line-height: 64px;
	margin-top: 53px;
	cursor: pointer;
	float: right;
	background-color: #c0363d;
}

.clear:hover {
	background-color: #dc4d54;
}