body {
	font-family: Arial;
	text-align: center;
	padding-top: 100px;
}

h1  {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px
}

h2:first-letter {
	font-weight: bold;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px
}

form {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

form input {
	margin-left: 30px;
}

.list-title {
	list-style: none;
}

label  {
	display: block;
	margin-bottom: 10px
}

input[type="submit"] {
		
		margin-left: 250px;
		width: 200px;
		height: 30px;
}