<footer class="footer">
	<div class="wrapper wrapper--footer clearfix">
		<div class="column column--big">
			<a href="#" class="column__sitelogo">URLAUBSGLÜCK</a>
		</div>
		<div class="column">
			<span class="column__title">Company</span>
			<div class="column-links">
			<a href="#" class="column__link">About</a>
			<a href="#" class="column__link">Contacts</a>
			<a href="#" class="column__link">Press</a>
			<a href="#" class="column__link">Blog</a>
			</div>	
		</div>
		<div class="column">
			<span class="column__title column__title--partners">Partners</span>
		</div>
		<div class="column column--copyright">
			<span class="column__text">Designed by</span>
			<a href="#" class="column__img"  target=""></a>
		</div>
	</div>
</footer>