
<section class="footer wow fadeIn">
	<div class="centring-wrapper">
		<div class="footer-upper clearfix">
			<div class="footer__block">
				<h2 class="footer__links">SOCIALS</h2>
				<ul >
					<li class="footer__item"><a href="" class="footer__link">Facebook</a></li>
					<li class="footer__item"><a href="" class="footer__link">Flickr</a></li>
					<li class="footer__item"><a href="" class="footer__link">Twitter</a></li>
					<li class="footer__item"><a href="" class="footer__link">Vimeo</a></li>
				</ul>
			</div>
			<div class="footer__block">
				<h2 class="footer__links">LINKS</h2>
				<ul >
					<li class="footer__item"><a href="" class="footer__link">How to Write a Blog</a></li>
					<li class="footer__item"><a href="" class="footer__link">Create a Blog in 4 Steps</a></li>
					<li class="footer__item"><a href="" class="footer__link">15 Tips to Increase Traffic</a></li>
					<li class="footer__item"><a href="" class="footer__link">20 Blog Post Ideas</a></li>
				</ul>
			</div>
			<div class="footer__block">
				<h2 class="footer__links">BLOGROLL</h2>
				<ul >
					<li class="footer__item"><a href="" class="footer__link">Blogs Blog</a></li>
					<li class="footer__item"><a href="" class="footer__link">Roll Up Roll Up</a></li>
					<li class="footer__item"><a href="" class="footer__link">Blog Free</a></li>
					<li class="footer__item"><a href="" class="footer__link">Wordpress Blog</a></li>
				</ul>
			</div>
			<div class="footer__block footer__block--last">
				<h2 class="footer__links">ABOUT US</h2>
				<ul >
					<li class="footer__item"><a href="" class="footer__link">Agriculture</a></li>
					<li class="footer__item"><a href="" class="footer__link">Harvest</a></li>
					<li class="footer__item"><a href="" class="footer__link">Company news</a></li>
					<li class="footer__item"><a href="" class="footer__link">Investor relations</a></li>
				</ul>
			</div>
		</div>

	</div>
	<div class="footer__contacts">
		<div class="centring-wrapper clearfix">
			 <div class="contacts__item"> <i class="fa fa-map-marker"></i>BuildHomeLtd.  Street Name 123   23 45 Cityname</div>
			<div class="contacts__item"><i class="fa fa-mobile"></i> +123 900 123 456</div>
			<div class="contacts__item"><i class="fa fa-envelope-o"></i> info@buildhome.web</div>
			<div class="copyright">© 2014 Build Home</div>
		</div>
	</div>
</section>