<section class="header clearfix">
<div class="header-top clearfix">
    <h1 class="logo">
    	<a class="logo__link" href="#">
    		<div class="logo__wrap">
    			<img src="img/logo.png" alt="Build Home">
    			<div class="text-wrap">
	    			<span class="logo__title">Build Home</span>
	    			<span class="logo__text">Industrial theme</span>
    			</div>
    		</div>
    		
    	</a>
    </h1>
    <ul class="header__social">
		<li class="social__item"><a class="social__link" href="#"><i class="fa fa-facebook"></i></a></li>
		<li class="social__item"><a class="social__link" href="#"><i class="fa fa-twitter"></i></a></li>
		<li class="social__item"><a class="social__link" href="#"><i class="fa fa-rss"></i></a></li>
		<li class="social__item"><a class="social__link" href="#"><i class="fa fa-linkedin"></i></a></li>
		<li class="social__item"><a class="social__link" href="#"><i class="fa fa-skype"></i></a></li>
	</ul>
	</div>
	<div class="header-nav-wrapper clearfix">
		<nav class="header__top-menu clearfix">
			<ul class="top-menu">
				<li class="top-menu__item active"><a href="#" class="top-menu__link">Home</a></li>
				<li class="top-menu__item"><a href="#" class="top-menu__link">Features</a></li>
				<li class="top-menu__item"><a href="#" class="top-menu__link">Services</a></li>
				<li class="top-menu__item"><a href="#" class="top-menu__link">News</a></li>
				<li class="top-menu__item"><a href="#" class="top-menu__link">Shop</a></li>
			</ul>
		</nav>
		<form action="#" class="search">
			<input type="text" class="search__input" placeholder="Search...">
			<img src="/img/search.png" class="search__icon" alt="search_icon">
		</form>
	</div>
</section>